extends ../layout

block content
	a(href='/bicicletas') Volver

	br
	br
	br

	h1 Actualizando Bicicleta

	br
	br

	form(action=`/bicicletas/${bici.code}/update` method='post')
		label(for='id') ID:
		input#code(type='text' name='id' value=bici.code)
		br
		br
		label(for='color') Color:
		input#color(type='text' name='color' value=bici.color)
		br
		br
		label(for='modelo') Modelo:
		input#modelo(type='text' name='modelo' value=bici.modelo)
		br
		br
		label(for='lat') Latitud:
		input#lat(type='text' name='lat' value=bici.ubicacion[0])
		br
		br
		label(for='long') Longitud:
		input#long(type='text' name='long' value=bici.ubicacion[1])
		br
		br
		input.btn(type='submit' value='OK')
		